page-module-wifi {
    #settingModule {
        text-align: center;
    }
    #settingModule > ion-icon {
        font-size: 30vh;
        color: #999;
    }
    #settingModule > p {
        color: #222;
    }
}
